//  Modules

.cleafix:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    color: white;
    font-size: 1rem;
    font-family: 'Open Sans', helvetica, sans-serif;
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    background-image: $button-gradient;
    //box-shadow: $Shadow1;
    transition: all .3s ease-in-out;
    letter-spacing: .05em;
    
    box-shadow: 0 2px 12px -6px rgba( $orange, 0.26 ),
                0 2px 12px -6px rgba(0,0,0,0.50);
    
    &:hover {
        background-image: $button-gradient-hover;
        //box-shadow: $Shadow1-Hover;
        box-shadow: 0 2px 16px -6px rgba( $orange, 0.26 ),
                    0 2px 16px -6px rgba(0,0,0,0.50);
        
        text-decoration: none;
    }
    
    &--big {
        font-size: 2rem;
        
        @media #{$tablet} {font-size: 1.5rem}
    }
    
    
}

.title:after {
    content: "";
    display: block;
    background: $red;
    color: $red;
    margin: 1rem 0 0;
    padding: 0.25rem 0;
    width: 4rem;
}



.end-result {
    &__heading{}
    &__subheading{
        margin-bottom: 2rem;
    }
    
    @media #{$lrg} {
        &__subheading {margin-bottom: 4rem}
    }
    
}

.screenshots {
    @media #{$med} {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
    }
}

.screenshot {
    position: relative;
    margin-bottom: 1rem;
    &__description{
        margin-bottom: 1rem;
        padding: 0 1rem;
        
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
    }
    
    &__arrow {
        display: none;
        max-width: 100%;
        order: -1;
        padding-top: 1rem;
        margin-right: 1rem;
    }
    
    &__img {
        max-width: 100%;
    }
    
    @media #{$med} {
        &__arrow {
            display: block;
        }
        &__description-text {
            max-width: 16rem;
        }
        &--1 {
            transform: translateX(2rem);
        }
        &--2 {
            margin-top: 4rem;
            transform: translateX(-2rem);
            
            .screenshot__description {
                transform: translateX(3rem);
            }
        }
    }
    
    @media #{$lrg} {
        
        &__description-text {
            max-width: 16rem;
        }
        &--1 {
            transform: translateX(2rem);
            
            .screenshot__description {
                transform: translateX(4rem);
            }
        }
        &--2 {
            margin-top: 4rem;
            transform: translateX(-2rem);
            
            .screenshot__description {
                transform: translateX(6rem);
            }
        }
    }
}


.lessons{
    &__title {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    @media #{$med} {
        text-align: left;
    }
}

.lesson{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    
    margin-bottom: 1rem;
    
    &__icon {
        margin-right: 1rem;
    }
}