.hr{
    border: none;
    height: 8px;
    background: $gradient-primary;
    max-width: 30%;
    margin: 4rem auto 4rem 0;
    clip-path: polygon(0 0, $clip-angle-inv 0, 100% 100%, 0 100%);

    &--right{
        margin: 4rem 0 4rem auto;
        clip-path: polygon(0 0, 100% 0, 100% 100%, $clip-angle 100%);
    }

    @media #{$med}{
        height: 12px;
        margin: 6rem auto 6rem 0;

        &--right{
            margin: 6rem 0 6rem auto;
        }
    }

    @media #{$lrg}{
        margin: 8rem auto 8rem 0;

        &--right{
            margin: 8rem 0 8rem auto;
        }
    }
}