.perfect-for{
    
    @media #{$lrg}{
        margin: 0 auto 8rem;
    }
}

.type{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
    margin: 0 0 3rem;

    padding: 0 1rem;


    &__icon{
        font-size: 24px;
        height: 40px;
        width: 4rem;
        margin: .5em 0 0;
    }

    &__title{}

    &__desc{
        grid-column: 2/3;
    }

    @media #{$med}{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr auto;
        flex: 50%;
    }
}