.perfect-for{
    &:after{
        content: '';
        display: block;
        height: 2px;
        background: $gradient-secondary;
        margin: 2rem auto 4rem;
        width: 4rem;

    }
    @media #{$med}{
        &:after{
            margin: 2rem auto;
            width: 40%;
    
        }
    }
    @media #{$lrg}{
        margin: 0 auto 8rem;
        &:after{
            margin: 6.5rem auto 0;
            width: 60%;
    
        }
    }
}

.type{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
    margin: 0 0 3rem;

    padding: 0 1rem;


    &__icon{
        max-width: 2rem;
        height: auto;
        margin: .5em 0 0;
        display: block;
    }

    &__title{}

    &__desc{
        grid-column: 2/3;
    }

    @media #{$med}{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr auto;
        flex: 50%;

        &__icon{
            max-width: 2rem;
            height: auto;
            margin: .2em 2rem 0 auto;
            opacity: 0.65;
        }
    }
}