// Colors
$text: rgba(0,0,0,0.87);
$text-light: hsla(0, 0%, 61%, 1);
$light: hsla(0, 0%, 98%, 1);


$color-primary: #E55151;

$color-success: #a6e23c;
$color-error: #E55151;


// Font Stacks
@font-face {
    font-family: 'Cuabno';
    src: url('../assets/Cubano-Regular.woff') format('woff');
}
$font-family-body: 'Work Sans', -apple-system, Helvetica, sans-serif;
$font-family-heading: 'Cubano', -apple-system, sans-serif;

$font-size-base: 16px;
$font-size-small: 14px;


// Gradients
$gradient-primary:      linear-gradient(29deg, #E55151 0%, rgb(236, 156, 113) 100%);
$gradient-secondary:    linear-gradient(55deg, #C5F178 0%, #FFFC63 100%);

// Container Width
$container-width-small: 32rem;
$container-width-large: 52rem;

// Media Queries
$tablet: "only screen and (min-width : 56rem)";
$phone: "only screen and (min-width : 24rem)";

$sml: 'only screen and (min-width : 24rem)';
$med: 'only screen and (min-width : 36rem)';
$lrg: 'only screen and (min-width : 64rem)';
$xlrg: 'only screen and (min-width : 80rem)';


//Shadows
$Shadow1: 0px 6px 6px 0px rgba(0,0,0,0.16), 0px 8px 12px 0px rgba(0,0,0,0.16);
$Shadow1-Hover: 0px 10px 6px 0px rgba(0,0,0,0.16), 0px 12px 12px 0px rgba(0,0,0,0.16);

// Clip Angles
$clip-angle: 3%;
$clip-angle-inv: 97%;
$clip1: polygon(0 0, 95% 0, 100% 100%, 5% 100%);

// Shadow
/* shadow: */
$shadow1: 0 0 11px -11px rgba(0,0,0,0.10),
            0 4px 4px -2px rgba(0,0,0,0.32);

$shadow2:  0 10px 10px -7px rgba(0, 0, 0, 0.1),
            0 11px 14px -12px rgba(0, 0, 0, 0.52);