//    TYPOGRAPHY

body {
    color: $text;
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    line-height: 1.4;
    
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.large {
    font-size: 1.5rem;
    line-height: 1.4;
}

.small {
    font-size: 0.875rem;
    color: #9B9B9B;
    line-height: 1rem;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', helvetica, sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em; letter-spacing: .05em}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

a {
    color: $text;
    text-decoration: none;
    
    &:hover {text-decoration: underline;}
}

.hero {
    font-size: 5rem;
    letter-spacing: 2.5px;
    text-align: center;
    margin: 3rem 0 1rem;
}

.subtitle {
    font-family: CrimsonText-BoldItalic;
    font-size: 2rem;
    letter-spacing: 0.5px;
    line-height: 2.5rem;
    text-align: center;
}

.responses {
    font-family: $OpenSans
}


@media #{$tablet} {
    .hero {
        font-size: 2.827em;
    }
    
    .subtitle {
        font-size: 1.414em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1.414em;
    }
    
    h4 {
        font-size: 1em
    }
    
    .large {
        font-size: 1.25em;
    }
    
    p {
        font-size: 1.25em;
    }
}