//  STYLES


//  Vars

// Colors
$text: #4A4A4A;
$text-light: hsla(0, 0%, 61%, 1);
$light: hsla(0, 0%, 98%, 1);
$red: #E84545;
$orange: hsla(28, 100%, 55%, 1);

// Font Stacks
$OpenSans: 'Open Sans', Helvetica, sans-serif;

// Gradients
$button-gradient: linear-gradient(-180deg, hsla(28, 100%, 58%, 1) 0%, hsla(28, 98%, 47%, 1) 100%);
$button-gradient-hover: linear-gradient(-180deg, hsla(28, 100%, 62%, 1) 0%, hsla(28, 98%, 51%, 1) 100%);

// Media Queries
$tablet: "only screen and (max-width : 56rem)";
$xl-phone: "only screen and (max-width : 40rem)";
$phone: "only screen and (max-width : 24rem)";

$sml: 'only screen and (min-width : 24rem)';
$med: 'only screen and (min-width : 36rem)';
$lrg: 'only screen and (min-width : 64rem)';
$xlrg: 'only screen and (min-width : 80rem)';



//Shadows
$Shadow1: 0px 6px 6px 0px rgba(0,0,0,0.16), 0px 8px 12px 0px rgba(0,0,0,0.16);
$Shadow1-Hover: 0px 10px 6px 0px rgba(0,0,0,0.16), 0px 12px 12px 0px rgba(0,0,0,0.16);



* {
    box-sizing: border-box
}


// Import
@import 'reset';
@import 'grid';
@import 'typography';
@import 'animation';
@import 'modules';


//    MIXINS
@mixin ButtonShadow ($color) {
    box-shadow: 0 2px 12px 0 opacity($color, 0.26),
        0 2px 12px 0 rgba(0,0,0,0.50);
}

.img {max-width: 100%}

//    Components
.section {
    margin: 0 auto 4rem;
    padding: 2rem 0 0;
    &--alt {
        padding: 2rem 0;
        background: $light;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.10);
    }
    &__subheading {
        margin-bottom: 2rem;
    }
    
    @media #{$med} {
        margin: 0 auto 6rem;
        padding: 3rem 0 0;
        &--alt {
            padding: 3rem 0;
        }
        &:last-of-type {
            margin: 0 auto 2rem;
        }
    }
    
    @media #{$lrg} {
        margin: 0 auto 8rem;
        padding: 4rem 0 0;
        &--alt {
            padding: 4rem 0;
        }
        &__subheading {
            margin-bottom: 4rem;
        }
    }
}


//    Layout
header {
    margin: 0;
    padding: 2rem 1rem;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    
    .nav {
        @extend .container;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        &__button {
            display: none;
        }
        
        &__logo {
            display: block;
            img {
                max-height: 3rem;
                width: auto;
            }
        }
        
        @media #{$med} {
            justify-content: space-between;
            &__button {
                animation: intro-bounce 0.75s ease-in-out 0s 2;
                display: inherit;
            }
        }
    }
}

.hero {
    position: relative;
    height: 28rem;
    overflow: hidden;
    margin-bottom: 2rem;
    &__content, &__image {
        position: absolute;
        top: 0;
        left: 0;
    }
    
    &__content {
        width: 100%;
        height: 100%;
        padding: 6rem 1rem 1rem;
    }
    
    &__image{
        top: 0;
        left: -65%;
        z-index: -3;
        object-fit: cover;
        height: 100%;
    }
    
    &__content {
        background: rgba ( red, 50%);
        background: hsla(360, 100%, 100%, 0.86);
        z-index: 1;
    }
    
    &__heading {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 1rem;
    }
    
    &__subheading{
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: 1;
        margin-bottom: 1rem;
    }
    
    &__cta {
        display: block;
        margin: 0 auto;
        max-width: 18rem;
    }
    
    @media #{$med} {
        height: 30rem;
        &__image {
            left: -10%;
            object-fit: cover;
            width: 100%;
        }
        
        &__content {
            padding-top: 9rem;
        }
        
        &__subheading{
            margin-bottom: 2rem;
        }
    }
    
    @media #{$lrg} {
        
        &__image {
            left: 0;
        }
        &__content {
            padding-top: 12rem;
        }
        &__subheading{
            margin-bottom: 2rem;
        }
    }
}

.intro {
    &__title {
        margin-bottom: 2rem;
    }
    
    &__description {
    }
}

.perfect-for {
    &--title {
        flex: 100%;
        padding: 0 1rem;
    }
}

.example {
    margin: 2rem 0 0;
    &--icon {
        display: block;
        margin: 0 auto;
    }

    &--title {
        margin: 1rem 0;
        text-align: center;
    }

    &--description {text-align: center}

    }

.kirby-lets-you {
    &__title {
        margin-bottom: 2rem;
    }
    &__list {
        li {@extend .large; margin: 0 0 1em;}
    }
}

.course-contents{
    &__heading, &__subheading {width: 100%}
    &__subheading {margin-bottom: 2rem;}
    &__img{
        display: block;
        margin-bottom: 2rem;
    }
}

.optin {
    background: $light;
    padding: 4rem 0;
    transition: all .3s ease-in-out;
    
    .container--flex {
        .sign-up {
            
            &__title {margin: 0 0 1rem}
            
            &__description {margin: 1rem 0 2rem;}
            
            &__cta-container {
                margin: 1rem ;
                box-shadow: $Shadow1;
                
                @media #{$lrg} {
                    max-width: 60%;
                    margin: 1rem auto;
                }
            }
            
            &__disclaimer {text-align: center; color: hsla(0, 0%, 0%, 0.4) !important}
        }
        
        .lessons {
            
            &__title {margin: 0 0 2rem}
            .lesson {
                margin: 0 0 2rem;
                display: flex;
                justify-content: flex-start;
                flex-flow: row nowrap;
                
                &__icon {
                    margin: 0 1rem 0 0;
                }
            }
        }
    }
}

#CTA {
    @extend .button;
    @extend .button--big;
    box-shadow: none;
    cursor: pointer;
    
    &:hover {
        background: $button-gradient-hover;
    }
}

.all-white{
    .container--flex {
        .sign-up__title, .sign-up__description {color: white !important}
    }
}

.form {
    background: white;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
    
    &__label {
        font-size: .75rem;
        font-family: $OpenSans;
        flex: 100%;
        margin-bottom: 0.5rem;

    }
    
    &__email, &__submit {
        font-size: 1rem;
        padding: .5rem;
        margin: 0.5 0 1rem;
    }
    &__email {
        border: .125rem solid $orange;
        flex: 1;
        margin-bottom: 1rem;
        
        &:focus {
            outline: .25rem solid $orange;
        }
        
    }
    
    &__submit {
        background: $button-gradient;
        color: white;
        cursor: pointer;
        border: none;
        padding: .5rem 1rem;
        width: 100%;
        &:hover{
            background: $button-gradient-hover;
        }
    }
    
    .responses {
        flex: 100%;
        text-align: center;
        margin: 0;
        margin: 1rem 0 0;
        
        
        &__response {
            color: $red;
            margin: 0;
            
            &--success {color: #2ecc71}
        }
    }
    
    @media #{$med} {
        align-content: stretch;
        padding: 1rem 25%;
        &__email{
        }
        
        &__submit {
            flex: 0  1 auto;
            width: auto;
            padding: .5rem 1rem;
            margin-left: 1rem;
        }
    }
    
    @media #{$lrg} {
        align-content: stretch;
        padding: 2rem;
        &__email{
        }
        
        &__submit {
            flex: 0  1 auto;
            width: auto;
            padding: .5rem 1rem;
            margin-left: 1rem;
        }
    }
    
}

.hidden {
    display: none;
}

footer ul {
    @extend .container--flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 0 4rem;
    
    .list-item {
        flex: 100%;
        //width: 100%;
        color: $text-light;
        display: inline-block;
        margin-bottom: 1rem;
        text-align: center;
        
        &__link {
            color: $text-light;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    @media #{$med} {
        flex-flow: row nowrap;
        
        .list-item {
            flex: 0 auto;
            margin: 0 1rem;
        }
    }
}


//    Breakpoints
